<div id="forms">

<div id="forms">
  <div id="sign-up">
    <strong id="sign">Sign up</strong>
      <%= form_for(@user) do |f| %>
      <%= f.text_field :name, :placeholder => "Name" %>
      <%= f.text_field :email, :placeholder => "E-mail" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm your password" %>
      <%= f.submit "Sign up" %>
    <% end %>
  </div>

  <div id="sign-in">
    <strong>Sign in</strong>

      <%= form_tag("/session", method: "post") do %>
        <%= label_tag "E-mail:" %>
        <%= text_field_tag :email %>
        <%= label_tag "Password" %>
        <%= password_field_tag :password %>
        <%= submit_tag("Log in!") %>
      <% end %>
  </div>
</div>

<h1 id="logo">gruvi</h1>

<div id="first-header">
</div>

<div id="test-wrapper">
  <div id="gameplay-box">
  </div>
</div>

<div id="score">
  <strong>Score:</strong>
  <div id="player-score">
  </div>
</div>

<br><br><br><br>
<div id="squares">
  <div class="square" id="64849"></div>
  <div class="square" id="47556"></div>
  <div class="square" id="43744"></div>
  <div class="square" id="43604"></div>
  <div class="square" id="43649"></div>
  <div class="square" id="43656"></div>
  <div class="square" id="43686"></div>
  <div class="square" id="43601"></div>
</div>

<!-- <br><br>
<div class="metronome" id="m1"></div>
<div class="metronome" id="m2"></div>
<div class="metronome" id="m3"></div>
<div class="metronome" id="m4"></div>
<div class="metronome" id="m5"></div>
<div class="metronome" id="m6"></div>
<div class="metronome" id="m7"></div>
<div class="metronome" id="m8"></div> -->

