<!DOCTYPE html>
<html>
<head>
  <title>Gruvi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
</head>
<body>

	<% if flash[:message] %>
	    <%= flash[:message] %>
	<% end %>

<%= yield %>

</body>
</html>
