<!DOCTYPE html>
<html>
<head>
  <title>Gruvi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="visualizer">
    <!-- TODO: use it or lose it -->
  	<% if flash[:message] %>
  	    <%= flash[:message] %>
  	<% end %>

    <%= yield %>
  </div>
  <script src="http://js.pusher.com/2.2/pusher.min.js"></script>
</body>
</html>
